<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Demo / 專題展示</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
  <div id="lang">
    <p>Choose language<br>/ 選擇語言:</p>
    <button id="en" onclick="changeLang('en')">English</button>
    <button id="zh" onclick="changeLang('zh')">中文</button>
  </div>

  <div class="chatBot-en">
    <header>
      <h2>Project Demo</h2>
      <span alt="Close" onclick="closeChat()"
        id="cross">X</span>
      <!-- <span class="robot"></span>
      <span class="user"></span> -->
    </header>
  
    <ul class="chatbox-en">
      <!--選擇UI及成藥推薦的語言，output語言是根據input有沒有中文決定-->
      <li class="chat-incoming chat">
        <p>
          Hello! I am your health assistant. Please tell me about your current symptoms and condition. To better assist you, please describe in as much detail as possible, for example:<br>
          •	Duration of the symptoms<br>
          •	The severity of the symptoms<br>
          •	Whether there are any other related symptoms
        </p>
        <p>For instance, you could say: <br>
          "I've been coughing a lot and feeling chilly and shivery. My nose has been quite clogged, making me have difficulty breathing. I also have a lot of phlegm."
        </p>
      </li>
      <li class="chat-incoming chat" id="opt-en">
        <p>
          <button id="opt_yes-en" style="background-color: green;">
            Yes</button>
          <button id="opt_no-en" style="background-color: red;">
            No</button>
        </p>
      </li>
      <li class="chat-incoming chat" id="drugs-en">
        <table>
          <caption id="cpt_drugs-en">
            Top over-the-counter drug recommendations:
          </caption>
          <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Similarity</th>
              <th>Indications</th>
            </tr>
          </thead>
          <tbody id="tb_drugs-en">
          </tbody>
        </table>
      </li>
    </ul>
    <div class="chat-input">
      <textarea id="user_input-en"
        placeholder="Enter your situation..."></textarea>
      <button id="sendBTN-en" onclick="sendMsg()">Send</button>
    </div>
  </div>

  <div class="end-en">
    <p class="lastMessage">Thanks for using our service!</p>
    <button id="endBTN" onclick="reset()">Restart</button>
  </div>

  <div class="chatBot-zh">
    <header>
      <h2>專題展示</h2>
      <span alt="Close" onclick="closeChat()"
        id="cross">X</span>
      <!-- <span class="robot"></span>
      <span class="user"></span> -->
    </header>
  
    <ul class="chatbox-zh">
      <!--選擇UI及成藥推薦的語言，output語言是根據input有沒有中文決定-->
      <li class="chat-incoming chat">
        <p>您好！我是您的健康助手。請告訴我您目前的症狀和病情。為了更好地幫助您，請盡量詳細描述，像是：<br>
          - 症狀的持續時間<br>
          - 症狀的嚴重程度<br>
          - 是否有其他相關症状<br>
        </p>
        <p>例如，您可以這樣說：<br>
          「我經常打噴嚏並且喉嚨痛。我的嘴唇和眼睛周圍偶爾會腫脹。一旦我開始打噴嚏，我就停不下來。」</p>
      </li>
      <li class="chat-incoming chat" id="opt-zh">
        <p>
          <button id="opt_yes-zh" style="background-color: green;">
            是</button>
          <button id="opt_no-zh" style="background-color: red;">
            否</button>
        </p>
      </li>
      <li class="chat-incoming chat" id="drugs-zh">
        <table>
          <caption id="cpt_drugs-zh">
            Top over-the-counter drug recommendations:
          </caption>
          <thead>
            <tr>
              <th>排名</th>
              <th>藥品名</th>
              <th>匹配度</th>
              <th>適應症</th>
            </tr>
          </thead>
          <tbody id="tb_drugs-zh">
          </tbody>
        </table>
      </li>
    </ul>
    <div class="chat-input">
      <textarea id="user_input-zh"
        placeholder="輸入您的情形..."></textarea>
      <button id="sendBTN-zh" onclick="sendMsg()">發送</button>
    </div>
  </div>

  <div class="end-zh">
    <p class="lastMessage">感謝您使用我們的服務!</p>
    <button id="endBTN" onclick="reset()">重新開始</button>
  </div>
  
  <div class="footer">
    <p>For reference only / 資訊僅供參考</p>
  </div>
</body>
</html>