<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Demo</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
  <div class="chatBot">
    <header>
      <h2>Project Demo</h2>
      <span alt="Close" onclick="closeChat()"
				id="cross">X</span>
    </header>
  
    <ul class="chatbox">
      <li class="chat-incoming chat">
        <p>Hi! Please type your situation here in English</p>
      </li>
      <li class="chat-incoming chat" id="opt">
        <p>
          <button id="opt_yes" style="background-color: green;">
            Yes</button>
          <button id="opt_no" style="background-color: red;">
            No</button>
        </p>
      </li>
      <li class="chat-incoming chat" id="drugs">
        <table>
          <caption id="cpt_drugs">
            Top over-the-counter drug recommendations:
          </caption>
          <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Similarity</th>
              <th>Indications</th>
            </tr>
          </thead>
          <tbody id="tb_drugs">
          </tbody>
        </table>
      </li>
    </ul>
    <div class="chat-input">
      <textarea id="user_input"
        placeholder="Enter a message..."></textarea>
      <button id="sendBTN">Send</button>
    </div>
  </div>
  
  <div class="end">
    <p class="lastMessage">Thanks for using our service!</p>
    <button id="endBTN" onclick="reset()">Restart</button>
  </div>
  
  <div class="footer">
    <p>資訊僅供參考</p>
  </div>
</body>
</html>